{% extends 'admin_base.html' %}
{% block content %}

<!-- SweetAlert Messages -->
{% if alert.message %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Swal.fire({
                icon: '{{ alert.type }}', // 'success' or 'error'
                title: '{{ alert.message }}',
                showConfirmButton: false,
                timer: 2000 // Auto-close after 2 seconds
            });
        });
    </script>
{% endif %}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>Add New Job</h5>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <!-- Left Column -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="job_title">Job Title <span style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="job_title" name="job_title" placeholder="Enter Job Title">
                        </div>
                        <div class="form-group">
                            <label for="company_name">Company Name <span style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="company_name" name="company_name" placeholder="Enter Company Name">
                        </div>
                        <div class="form-group">
                            <label for="location">Location <span style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="location" name="location" placeholder="Enter Location">
                        </div>
                        <div class="form-group">
                            <label for="job_type">Job Type</label>
                            <select class="form-control" id="job_type" name="job_type">
                                <option value="">Select</option>
                                <option value="Full-Time">Full-Time</option>
                                <option value="Part-Time">Part-Time</option>
                                <option value="Internship">Internship</option>
                                <option value="Freelance">Freelance</option>
                            </select>
                        </div>
                    </div>

                    <!-- Right Column -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="job_link">Job Link </label>
                            <input type="url" class="form-control" id="job_link" name="job_link" placeholder="Enter Job Link">
                        </div>
                        <div class="form-group">
                            <label for="experience">Experience</label>
                            <input type="text" class="form-control" id="experience" name="experience" placeholder="Enter Experience">
                        </div>
                        <div class="form-group">
                            <label for="package">Salary Package</label>
                            <input type="text" class="form-control" id="package" name="package" placeholder="Enter Salary Package">
                        </div>
                        <div class="form-group">
                            <label for="work_mode">Work Mode</label>
                            <select class="form-control" id="work_mode" name="work_mode">
                                <option value="">Select</option>
                                <option value="Remote">Remote</option>
                                <option value="On-Site">On-Site</option>
                                <option value="Hybrid">Hybrid</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="education">Education</label>
                            <input type="text" class="form-control" id="education" name="education" placeholder="Enter Education">
                        </div>
                       
                        <div class="form-group">
                            <label for="skills">Required Skills</label>
                            <textarea class="form-control" id="skills" name="skills" rows="3" placeholder="Enter Required Skills"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="company_logo">Company Logo</label>
                            <input type="file" class="form-control" id="company_logo" name="company_logo">
                        </div>
                        <div class="form-group">
                            <label for="r_and_r">Roles and Responsibilities</label>
                            <textarea class="form-control" id="r_and_r" name="r_and_r" rows="3" ></textarea>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn  btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}
