{% extends 'admin_base.html' %}
{% block content %}

<!-- SweetAlert Messages -->


<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>Add New Job</h5>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <!-- Left Column -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="job_title">Job Title <span style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="job_title" name="job_title" placeholder="Enter Job Title" required>
                        </div>
                        <div class="form-group">
                            <label for="company_name">Company Name <span style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="company_name" name="company_name" placeholder="Enter Company Name" required>
                        </div>
                        <div class="form-group">
                            <label for="location">Location <span style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="location" name="location" placeholder="Enter Location">
                        </div>
                        
                        <div class="form-group">
                            <label for="job_type">Job Type</label>
                            <select class="form-control" id="job_type" name="job_type" required>
                                <option value="">Select</option>
                                <option value="Full-Time">Full-Time</option>
                                <option value="Part-Time">Part-Time</option>
                                <option value="Internship">Internship</option>
                                <option value="Freelance">Freelance</option>
                            </select>
                        </div>
                    </div>

                    <!-- Right Column -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="job_link">Job Link </label>
                            <input type="url" class="form-control" id="job_link" name="job_link" placeholder="Enter Job Link" required>
                        </div>
                        <div class="form-group">
                            <label for="experience">Experience</label>
                            <select class="form-control" id="experience" name="experience" required>
                                <option value="">Select</option>
                                <option value="Fresher">Fresher</option>
                                <option value="0-1">0-1</option>
                                <option value="1-2">1-2</option>
                                <option value="2-3">2-3</option>
                                <option value="3-4">3-4</option>
                                <option value="4-5">4-5</option>
                                <option value="More than 5">More than 5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="package">Salary Package</label>
                            <input type="text" class="form-control" id="package" name="package" placeholder="Enter Salary Package">
                        </div>
                        <div class="form-group">
                            <label for="work_mode">Work Mode</label>
                            <select class="form-control" id="work_mode" name="work_mode" required>
                                <option value="">Select</option>
                                <option value="Remote">Remote</option>
                                <option value="On-Site">On-Site</option>
                                <option value="Hybrid">Hybrid</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="education">Education</label>
                            <input type="text" class="form-control" id="education" name="education" placeholder="Enter Education">
                        </div>
                        <div class="form-group">
                            <label for="job_type">Job Category</label>
                            <select class="form-control" id="category" name="category" required>
                                <option value="">Select</option>
                                <option value="Design-Creative">Design-Creative</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Software and Web">Software and Web</option>
                                <option value="Administration">Administration</option>
                                <option value="Teaching and Education">Teaching and Education</option>
                                <option value="Engineering (Hardware)">Engineering (Hardware)</option>
                                <option value="Telemarketing">Telemarketing</option>
                                <option value="Healthcare">Healthcare</option>
                                
                            </select>
                        </div>
                       
                        <div class="form-group">
                            <label for="skills">Required Skills</label>
                            <textarea class="form-control" id="skills" name="skills" rows="3" placeholder="Enter Required Skills"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="company_logo">Company Logo</label>
                            <input type="file" class="form-control" id="company_logo" name="company_logo" required>
                        </div>
                        <div class="form-group">
                            <label for="r_and_r">Roles and Responsibilities</label>
                            <textarea name="r_and_r" class="form-control" rows="5" cols="40" placeholder="Enter each point on a new line"></textarea>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn  btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        {% if alert.type == "success" %}
            Swal.fire({
                icon: "success",
                title: "Success!",
                text: "{{ alert.message }}",
                confirmButtonColor: "#3085d6",
                confirmButtonText: "OK"
            });
        {% elif alert.type == "error" %}
            Swal.fire({
                icon: "error",
                title: "Error!",
                text: "{{ alert.message }}",
                confirmButtonColor: "#d33",
                confirmButtonText: "Try Again"
            });
        {% endif %}
    });
</script>



{% endblock %}
