{% extends 'admin_base.html' %}
{% block content %}
<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>Add New Job</h5>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <!-- Left Column -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Job Title</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Job Title" name="job_title">
                            
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Company Name</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Company Name" name="company_name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Experience</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Experience" name="experience">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Package</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Package" name="package">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Work Mode</label>
                            <select class="form-control" id="exampleFormControlSelect1" name="work_mode">
                                <option>Remote</option>
                                <option>Hybride</option>
                                <option>Work From Office</option>
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Roles & Responsibilities</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="r_and_r"></textarea>
                        </div>
                       
                    </div>
                    <!-- Right Column -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Location</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Location" name="location">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Education</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Education" name="education">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Skills</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Required Skills" name="skills">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Job Type</label>
                            <select class="form-control" id="exampleFormControlSelect1" name="job_type">
                                <option>Full Time</option>
                                <option>Part Time</option>
                                <option>Internship</option>
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Job Link</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Job Link" name="job_link">
                        </div>
                        
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
        
    </div>
   
</div>
{% endblock %}