{% extends 'admin_base.html' %}
{% block content %}
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Admin Dashboard</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/admin_db">Overview</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- table card-1 start -->
            <div class="col-md-12 col-xl-4">
                <!-- widget primary card start -->
                <div class="card flat-card widget-primary-card">
                    <div class="row-table">
                        <div class="col-sm-12 card-body text-center">
                            <h6>Total Number of Jobs Added by Admin</h6> <!-- Replacing the star with text -->
                            <h4>{{ total_jobs }}</h4>  <!-- Display the total count -->
                        </div>
                    </div>
                </div>
                <!-- widget primary card end -->
            </div>
            
            <!-- table card-1 end -->
            <!-- table card-2 start -->
            <div class="col-md-12 col-xl-4">
                <!-- widget-success-card start -->
                <div class="card flat-card widget-purple-card">
                    <div class="row-table">
                        <div class="col-sm-12 card-body text-center">
                            <h6>Total Number of Companies</h6>  <!-- Updated text -->
                            <h4>{{ total_companies }}</h4>  <!-- Display total count -->
                        </div>
                    </div>
                </div>
                <!-- widget-success-card end -->
            </div>
            <div class="col-md-12 col-xl-4">
                <!-- widget-success-card start -->
                <div class="card flat-card "  >
                    <div class="row-table" >
                        <div class="col-sm-12 card-body text-center">
                            <a href="/add_job"><h6>Add New Job</h6> </a> <!-- Updated text -->
                            <h4></h4>   <!-- Display total count -->
                        </div>
                    </div>
                </div>
                <!-- widget-success-card end -->
            </div>
            
            <!-- table card-2 end -->
           
        
            <div class="col-xl-12 col-md-12">
                <div class="card table-card">
                    <div class="card-header">
                        <h5>Companies & Jobs</h5>
                        
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="chk-option">
                                               
                                            </div>
                                            Companies
                                        </th>
                                        
                                        <th>Total Jobs Posted</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for company in companies %}
                                    <tr>
                                        <td>
                                            <div class="chk-option">
                                                
                                            </div>
                                            <div class="d-inline-block align-middle">
                                                {% if company.profile_image %}
                                                <img src="{{ company.profile_image.url }}" alt="user image" class="img-radius wid-60 align-top m-r-15">
                                            {% else %}
                                                <img src="\static\assets\images\company.jpg" alt="default image" class="img-radius wid-60 align-top m-r-15">
                                            {% endif %}
                                            
                                                <div class="d-inline-block">
                                                    <h6>{{ company.fullname }}</h6>
                                                </div>
                                            </div>
                                        </td>
                                       
                                        <td>
                                            {{ company.total_jobs }}
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2" class="text-center">No Companies Found</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- prject ,team member start -->
            <!-- seo start -->
         
           
            
            <!-- seo end -->

            <!-- Latest Customers start -->   
        </div>
        <!-- [ Main Content ] end -->
   

   {% endblock %}