{% extends 'company_base.html' %}
{% block content %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Company Dashboard</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="/company_db">Overview</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->
<!-- [ Main Content ] start -->
<div class="row">
    <!-- Total Jobs Added by Company -->
    <div class="col-md-12 col-xl-4">
        <div class="card flat-card widget-primary-card">
            <div class="row-table">
                <div class="col-sm-12 card-body text-center">
                    <h6>Total Number of Jobs Added by Company</h6>
                    <h4>{{ total_jobs }}</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Total Applicants -->
    <div class="col-md-12 col-xl-4">
        <div class="card flat-card widget-purple-card">
            <div class="row-table">
                <div class="col-sm-12 card-body text-center">
                    <h6>Total Number of People Applied</h6>
                    <h4>{{ total_applicants }}</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Add New Job -->
    <div class="col-md-12 col-xl-4">
        <div class="card flat-card">
            <div class="row-table">
                <div class="col-sm-12 card-body text-center">
                    <a href="/company_add_job"><h6>Add New Job</h6></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Table to display jobs -->
<div class="col-xl-12 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h5>Jobs Posted by You</h5>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Job Title</th>
                            <th>Location</th>
                            <th>Applicants</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs %}
                        <tr>
                            <td>{{ job.job_title }}</td>
                            <td>{{ job.location }}</td>
                            <td>
                                {% with applicants=job.appliedjob_set.count %}
                                    {{ applicants }}
                                {% endwith %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3" class="text-center">No Jobs Found</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- [ Main Content ] end -->



   {% endblock %}