{% extends 'company_base.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="pcoded-content">
  <div class="page-header">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="page-header-title">
            <h5 class="m-b-10">Applied Jobs</h5>
          </div>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/company_applied_jobs"><i class="feather icon-home"></i></a>
            </li>
            <li class="breadcrumb-item">
              <a href="/company_applied_jobs">Applications</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Search Bar -->
  <div class="row mb-4">
	<div class="col-md-6">
	  <form method="GET" action="">
		<div class="input-group">
		  <input type="text" name="search" class="form-control" placeholder="Search by Job Title" value="{{ search_query }}">
		  <button type="submit" class="btn btn-primary">Search</button>
		  <a href="{% url 'company_applied_jobs' %}" class="btn btn-secondary">Reset</a>
		</div>
	  </form>
	</div>
  </div>

  <!-- Job Listings -->
  <div class="row">
    <div class="col-xl-12">
      <div class="row">
        {% for job in jobs %}
        <div class="col-md-4">
          <div class="card p-3 shadow-sm">
            <div class="card-body">
              <h5 class="card-title" style="line-height: 38px">
                {{ job.job_title }}
              </h5>
              <p class="card-text">
                <i class="fas fa-money-bill-wave"></i> {{ job.salary }} &nbsp; |
                &nbsp; <i class="fas fa-briefcase"></i> {{ job.experience }} Years
              </p>
              <p class="card-text">
                <i class="fas fa-map-marker-alt"></i> {{ job.location }} &nbsp;
                | &nbsp; Date Posted : {{ job.date_posted }}
              </p>
              <a href="{% url 'c_applied_candidates' job.id %}" class="btn btn-sm btn-secondary">
                <i class="fas fa-users"></i> View Applied Candidates
              </a>
            </div>
          </div>
        </div>
        {% empty %}
        <p class="text-center">No jobs found.</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
