<!DOCTYPE html>
<html lang="en">

<head>

	{% include "layouts/head.html" %}
    {% include "layouts/head-bottom-link.html" %}

</head>

<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
	<div class="auth-content text-center">
		<img src="/static/assets/images/logo.png" alt="" class="img-fluid mb-4">
		<div class="card borderless">
			<div class="row align-items-center ">
				<div class="col-md-12">
					<div class="card-body">
						<h4 class="mb-3 f-w-400">Reset Password</h4>

						<!-- Error Alert -->
						{% if error %}
						<div class="alert alert-danger" role="alert">
							{{ error }}
						</div>
						{% endif %}
						
						<form method="post">
							{% csrf_token %}
						
							<div class="form-group mb-3">
								<input type="email" name="email" class="form-control" placeholder="Enter Email" required>
							</div>
							
							<button type="submit" class="btn btn-block btn-primary mb-4">Submit</button>
						</form>
						
						<hr>
						
						<a href="/login" class="f-w-400">Sign In</a>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ auth-signin ] end -->

<!-- Required Js -->
<script src="/static/assets/js/vendor-all.min.js"></script>
<script src="/static/assets/js/plugins/bootstrap.min.js"></script>

<script src="/static/assets/js/pcoded.min.js"></script>
{% include "layouts/footer-bottom-link.html" %}

</body>

</html>
