<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>JobTriad</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/user_assets/img/favicon_io11111/favicon.ico">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- CSS here -->
    <link rel="stylesheet" href="/static/user_assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/user_assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/user_assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/user_assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/user_assets/css/themify-icons.css">
    <link rel="stylesheet" href="/static/user_assets/css/nice-select.css">
    <link rel="stylesheet" href="/static/user_assets/css/flaticon.css">
    <link rel="stylesheet" href="/static/user_assets/css/gijgo.css">
    <link rel="stylesheet" href="/static/user_assets/css/animate.min.css">
    <link rel="stylesheet" href="/static/user_assets/css/slicknav.css">

    <link rel="stylesheet" href="/static/user_assets/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<body>
   
    <header>
        <div class="header-area " style="background: rgba(0, 29, 56, 0.8);">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid ">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="/">
                                        <img src="/static/user_assets/img/logo.jpeg" alt="" width="100px" height="100px"style="height:45px "  >
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/">home</a></li>
                                            <li><a href="/jobs">Jobs</a></li>
                                            <li><a href="#Categories">Categories</a></li>
                                            <li><a href="/about_us">About Us</a></li>
                                            <li><a href="/contact_us">Contact Us</a></li>
                                           
                                            
                                           
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">
                                    <div class="phone_num d-none d-xl-block">
                                        <a href="/login">Log in</a>
                                    </div>
                                    <div class="d-none d-lg-block">
                                        <a class="boxed-btn3" href="/company_login">Post a Job</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="slider_text">
                            <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">Welcome Job Seekers!</h5>
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Find your Dream Job</h3>
                            <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                                Explore top opportunities from leading companies and take the next step in your career.
                            </p>
                            <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                                <a href="/login" class="boxed-btn3">Get Started</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">
            <img src="/static/user_assets/img/banner/illustration.png" alt="">
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- catagory_area -->
    <div class="catagory_area">
        <div class="container">
            <form action="{% url 'jobs' %}" method="GET">
                <div class="row cat_search align-items-center">
                    <div class="col-lg-5 col-md-5">
                        <div class="single_input position-relative">
                            <input type="text" name="designation" placeholder="Job title, keywords, or company" value="{{ request.GET.designation }}">
                            <i class="fas fa-search position-absolute" style="right: 15px; top: 50%; transform: translateY(-50%);"></i>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <div class="single_input position-relative">
                            <input type="text" name="location" placeholder="City, State or Remote" value="{{ request.GET.location }}">
                            <i class="fas fa-map-marker-alt position-absolute" style="right: 15px; top: 50%; transform: translateY(-50%);"></i>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="job_btn">
                            <button type="submit" class="boxed-btn3">Find Job</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--/ catagory_area -->

    <!-- popular_catagory_area_start  -->
    <div class="popular_catagory_area" id="Categories">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title mb-40">
                        <h3>Popular Categories</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="/jobs?category=Design-Creative"><h4>Design & Creative</h4></a>
                        <p><span>{{ DC }}</span> Available position{{ DC|pluralize }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="/jobs?category=Marketing"><h4>Marketing</h4></a>
                        <p><span>{{ Marketing }}</span> Available position{{ Marketing|pluralize }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="/jobs?category=Telemarketing"><h4>Telemarketing</h4></a>
                        <p><span>{{ TM }}</span> Available position{{ TM|pluralize }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="/jobs?category=Software and Web"><h4>Software & Web</h4></a>
                        <p><span>{{ SW }}</span> Available position{{ SW|pluralize }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="/jobs?category=Administration"><h4>Administration</h4></a>
                        <p><span>{{ administration }}</span> Available position{{ administration|pluralize }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="/jobs?category=Teaching and Education"><h4>Teaching & Education</h4></a>
                        <p><span>{{ TE }}</span> Available position{{ TE|pluralize }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="/jobs?category=Engineering (Hardware)"><h4>Engineering</h4></a>
                        <p><span>{{ engineering }}</span> Available position{{ engineering|pluralize }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="/jobs?category=Healthcare"><h4>Healthcare</h4></a>
                        <p><span>{{ healthcare }}</span> Available position{{ healthcare|pluralize }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- popular_catagory_area_end  -->

    <!-- job_listing_area_start  -->
    <div class="job_listing_area" id="Latest_jobs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section_title">
                        <h3>Latest Job Listings</h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="brouse_job text-right">
                        <a href="/jobs" class="boxed-btn4">Browse More Jobs</a>
                    </div>
                </div>
            </div>
            <div class="job_lists">
                <div class="row">
                    {% for job in latest_jobs %}
                    <div class="col-lg-12 col-md-12">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb">
                                    {% if job.company_logo %}
                                    <img src="{{ job.company_logo.url }}" alt="Company Logo">
                                    {% else %}
                                    <img src="/static/user_assets/img/svg_icon/default.svg" alt="Default Logo">
                                    {% endif %}
                                </div>
                                <div class="jobs_conetent">
                                    <a href="/login"><h4>{{ job.job_title }}</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p><i class="fa fa-map-marker"></i> {{ job.location }}</p>
                                        </div>
                                        <div class="location">
                                            <p><i class="fa fa-clock-o"></i> {{ job.job_type }}</p>
                                        </div>
                                        <div class="location">
                                            <p><i class="fa fa-briefcase"></i> {{ job.experience }} Years</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    <a href="/login" class="boxed-btn3">Apply Now</a>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No jobs available.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    <!-- job_listing_area_end  -->
  <!-- Go to Top Button -->
  <button id="goToTopBtn" onclick="scrollToTop()">&#8679;</button>

 <!-- footer start -->
 <footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                 <!-- Services Section -->
                 <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">Services</h3>
                        <p>We are dedicated to connecting students with genuine job opportunities to help kickstart their careers. Our platform ensures reliable job listings, making the job search process easier and more efficient. 🚀</p>
                    </div>
                </div>
                <!-- Company Section -->
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">Company</h3>
                        <ul>
                            <li><a href="/about_us">About JobTriad</a></li>
                            <li><a href="#Categories">Job Categories</a></li>
                            <li><a href="/jobs">Jobs</a></li>
                            <li><a href="/contact_us">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

               

                <!-- Get in Touch Section    <p>📞 +91 98765 43210</p>-->
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">Get in Touch</h3>
                        <p>Old SP Dharwad - 580001</p>
                        <p>Karnataka, India</p>
                       <p>jobtriad@gmail.com</p>
                    </div>
                </div>

                <!-- Contact Us / Social Links -->
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">Contact Us</h3>
                        <ul class="social_links">
                           
                            <li><a href="#"><i class="fa-brands fa-instagram"></i> Follow us on Instagram</a></li>
                            <li><a href="#"><i class="fa-brands fa-facebook"></i> Follow us on Facebook</a></li>
                           

                        </ul>
                        
                    </div>
                </div>
            </div>

            <!-- Copyright Section -->
            <div class="footer_bottom text-center">
                <p>© 2025 JobTriad. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>


<!--/ footer end  -->

<!-- link that opens popup -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- JS here -->
<script src="/static/user_assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/static/user_assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/static/user_assets/js/popper.min.js"></script>
<script src="/static/user_assets/js/bootstrap.min.js"></script>
<script src="/static/user_assets/js/owl.carousel.min.js"></script>
<script src="/static/user_assets/js/isotope.pkgd.min.js"></script>
<script src="/static/user_assets/js/ajax-form.js"></script>
<script src="/static/user_assets/js/waypoints.min.js"></script>
<script src="/static/user_assets/js/jquery.counterup.min.js"></script>
<script src="/static/user_assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/static/user_assets/js/scrollIt.js"></script>
<script src="/static/user_assets/js/jquery.scrollUp.min.js"></script>
<script src="/static/user_assets/js/wow.min.js"></script>
<script src="/static/user_assets/js/nice-select.min.js"></script>
<script src="/static/user_assets/js/jquery.slicknav.min.js"></script>
<script src="/static/user_assets/js/jquery.magnific-popup.min.js"></script>
<script src="/static/user_assets/js/plugins.js"></script>
<script src="/static/user_assets/js/gijgo.min.js"></script>



<!--contact js-->
<script src="/static/user_assets/js/contact.js"></script>
<script src="/static/user_assets/js/jquery.ajaxchimp.min.js"></script>
<script src="/static/user_assets/js/jquery.form.js"></script>
<script src="/static/user_assets/js/jquery.validate.min.js"></script>
<script src="/static/user_assets/js/mail-script.js"></script>


<script src="/static/user_assets/js/main.js"></script>
</body>

</html>